@media screen and (max-width: 500px) {
	.shard-layout-banner {
		background: url("/resources/media/misc/logo-size-50.png") no-repeat;
	}
}
@media screen and (max-width: 700px) and (min-width: 500px) {
	.shard-layout-banner {
		background: url("/resources/media/misc/banner-size-50.png") no-repeat;
	}
}
@media screen and (min-width: 700px) {
	.shard-layout-banner {
		background: url("/resources/media/misc/banner-size-50.png") no-repeat;
	}
}

@media screen and (max-width: 500px) {
	.shard-layout-footer-business-card {
		background: url("/resources/media/misc/business-card-part-contact.png")
			no-repeat;
	}
}
@media screen and (max-width: 700px) and (min-width: 500px) {
	.shard-layout-footer-business-card {
		background: url("/resources/media/misc/business-card-part.png") no-repeat;
	}
}
@media screen and (min-width: 700px) {
	.shard-layout-footer-business-card {
		background: url("/resources/media/misc/business-card-part.png") no-repeat;
	}
}
